version: 2.1

executors:
  docker:
    docker:
    - image: circleci/openjdk:8-jdk
    environment:
      JAVA_OPTS: "-Xmx1g -XX:MaxMetaspaceSize=1g -XX:MetaspaceSize=1g -XX:+CMSClassUnloadingEnabled"
      DEFAULT_AWS_REGION: "eu-west-1"
      AWS_REGION: "eu-west-1"

  machine:
    machine:
      enabled: true
      image: circleci/classic:edge

    environment:
      JAVA_OPTS: "-Xmx1g -XX:MaxMetaspaceSize=1g -XX:MetaspaceSize=1g -XX:+CMSClassUnloadingEnabled"
      DEFAULT_AWS_REGION: "eu-west-1"
      AWS_REGION: "eu-west-1"

commands:
  generate_sbt_cache_key:
    description: "Generate sbt cache key"
    steps:
      - run: md5sum project/build.properties project/plugins.sbt build.sbt > .sbt_cache_key
      - run: md5 -q project/build.properties >> .sbt_cache_key
      - run: md5 -q project/plugin.sbt >> .sbt_cache_key

  store_sbt_cache:
    description: "Restore sbt cache"
    steps:
    - save_cache:
        key: dependencies-{{ .Branch }}-{{ checksum ".sbt_cache_key" }}
        paths:
        - /home/circleci/.ivy2
        - /home/circleci/.sbt

  restore_sbt_cache:
    description: "Restore sbt cache"
    steps:
    - restore_cache:
        keys:
        - dependencies-{{ .Branch }}-{{ checksum ".sbt_cache_key" }}
        - dependencies-{{ .Branch }}
        - dependencies

  add_github_host_ssh_key:
    description: "Add the github host SSH key"
    steps:
    - run:
        name: Adding the github host SSH key
        command: |
          echo 'Adding the github host SSH key...'
          mkdir -p -m 0700 ~/.ssh/
          ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts
  configure_git_credentials:
    description: "Configure git credentials"
    steps:
    - run:
        name: Configure git credentials
        command: |
          git config user.name ovo-comms-circleci
          git config user.email "hello.comms@ovoenergy.com"


jobs:
  build:

    executor: docker

    steps:
    - checkout
    - generate_sbt_cache_key
    - restore_sbt_cache
    - run: sbt update
    - store_sbt_cache
    - run: sbt scalafmtCheck
    - run: sbt test:scalafmtCheck
    - run: sbt test:compile
    - persist_to_workspace:
        root: .
        paths:
        - target
        - project/target
        - project/project/target

  unit_test:

    executor: docker

    steps:
    - checkout
    - attach_workspace:
        at: .
    - restore_sbt_cache
    - run: sbt test
    - store_test_results:
        path: target/test-reports


  tag:

    executor: docker

    steps:
    - checkout
    - attach_workspace:
        at: .
    - add_github_host_ssh_key
    - configure_git_credentials
    - run: build/tag.sh
    # Update the workspace to make sure the git tags are available to the
    # downstream jobs
    - persist_to_workspace:
        root: .
        paths:
        - .git

  release:

    executor: docker

    steps:
    - checkout
    - attach_workspace:
        at: .
    - restore_sbt_cache
    - run:
        command: sbt releaseEarly
        no_output_timeout: 20m

workflows:

  main:
    jobs:
    - build

    - unit_test:
        requires:
        - build

    - tag:
        requires:
        - unit_test
        filters:
          branches:
            only: master

    - release:
        requires:
        - tag
